<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', 'ADD_SITE_ID');
    t.setAttribute('data-track-path', 'https://track.PATH.HERE/track.gif');
    t.src = 'https://SOURCE_LINK.TO.TRACKER/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
