<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ title }} | The Scripter</title>
  <meta name="description" content="Tool to maintain and run scripts"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
    window.setTimeout(function() {
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
            $(this).remove(); 
        });
    }, 5000);
    });
  </script>
</head>

<body class="{{ template }}">
  {% block content %}{% endblock %}
  {% include 'analytics.jinja2' %}
</body>


<footer class="footer mt-auto py-5">
{% include "blueprintinfo.jinja2" %}
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Status Messages</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">
          <div class="col-msg">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == "message" %}
                  <div class="alert alert-success alert-dismissible fade show pulsate" role="alert">
                    <strong>Success!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% else %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show pulsate" role="alert">
                    <strong>{{ category }}!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endif %}
                {% endfor %}
              {% else %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong><i class="bi-check2-circle"></i> Alerts loaded!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            {% endwith %}
          </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown1">
              {% for link in links %}
                  <li><a href="{{ link.link }}" class="dropdown-item">
                  <i class="{{ link.icon }}"></i> {{ link.name }}</a></li>
                {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">SQL Scripts</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown2">
              {% for record in records %}       
                <li><a class="dropdown-item" href="/script_generator/{{ record.id }}">{{ record.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
    </div>
  </nav>
</footer>

</html>
