{% extends "layout.jinja2" %}


{% block content %}
  {% include "navigation.jinja2" %}

  <div class="container">
  <h2 class="visually-hidden">Welcome to The Scripter</h2>
    <p>{{ subtitle }}</p>

    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">SQL Script</th>
            <th scope="col">Description</th>
            <th scope="col">Reference Article</th>
          </tr>
        </thead>
        {% for record in records %}       
        <tbody>
          <tr>
            <td><a href="/script_generator/{{ record.id }}">{{ record.name }}</a></td>
            <td>{{ record.description }}</td>
            <td><a href="{{ record.link }}">{{ record.name }}</a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      
    </div>
  </div>

{% endblock %}
